@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #001e4d;
  overflow-y: hidden;
}
.app {
  background-color: #fff;
  width: 90%;
  max-width: 600px;
  margin: 40px auto 0;
  border-radius: 10px;
  padding: 30px;
}

.app h1 {
  font-size: 25px;
  color: #001e4d;
  font-weight: 600;
  padding-bottom: 15px;
  text-align: center;
}
@keyframes colorChange {
  0% {
    color: red;
  }
  50% {
    color: blue;
  }
  80% {
    color: red;
  }
  100% {
    color: green;
  }
}
.animated {
  animation: colorChange 1s infinite;
}
.app h4 {
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
  text-align: center;
}
.app h4 sub {
  font-size: 12px;
}
.quiz {
  padding: 20px 0;
}
.quiz h2 {
  font-size: 18px;
  color: #001e4d;
  font-weight: 600;
  margin-bottom: 15px;
}

.btn {
  background-color: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover:not([disabled]) {
  background-color: #222;
  color: #fff;
}
.btn:disabled {
  cursor: no-drop;
}
#next-btn {
  background-color: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0px;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.correct {
  background-color: green;
  color: white;
}
.incorrect {
  background-color: red;
  color: white;
}
